.frequent-link {
    color: #0C120C;
    font-family: Aleph;
    font-size: x-large;
}

.frequent-link:hover {
    color: #C20114;
}

.pdf-viewer {
    width: 100%;
    height: 850px;
}

.problem-buttons{
    padding: 15px;
    display: block;
}

.problem-button {
    margin: 15px;
}

.click-feedback {
    font-size: large;
    color: #6D7275;
    float: left;
    margin: 0 0 20px 50px;
}

.solution {
    margin: 0 35px;
    font-size: large;
}

@media screen
and (max-device-width: 500px) {

}

