.frequent-link {
    color: #0C120C;
    font-family: Aleph;
    font-size: x-large;
}

.frequent-link:hover {
    color: #C20114;
}

.open-ticket {

    float: right !important;
    margin: 10px;
    padding: 8px 30px;
}

.open-ticket > a{
    color: white;
    font-weight: bold;
}

.open-ticket > a:hover{
    color: white;
}

.pdf-viewer {
    width: 100%;
    height: 850px;
}

.problem-buttons{
    padding: 15px;
    display: block;
}

.problem-button {
    margin: 15px;
}

.click-feedback {
    font-size: large;
    color: #6D7275;
    float: left;
    margin: 0 0 20px 50px;
}

.back-btn {
    float: left;
    padding: 0 100px;
    margin: 25px 0;
}

.back-btn > a{
    font-size: large;
    color: #6D7275;
}

.solution {
    margin: 0 35px;
    font-size: large;
}
