.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  float: right;
  height: 100%;
}

.App-header {
  background-color: #ECEBF3;
  /*height: 150px;*/
  width:100%;
  padding: 20px;
  color: white;
  display: inline-block;
  /*background: url(bg_apple_little.gif) no - repeat center center;*/

  border-bottom: 4px #0C120C solid;
}

pallete {
  background-color: #0C120C;
  background-color: #C20114;
  background-color: #6D7275;
  background-color: #C7D6D5;
  background-color: #ECEBF3;
}

@font-face {
  font-family: 'Simple';
  src: url(http://res.cloudinary.com/dzbelv6cv/image/upload/v1496820255/assets/simpleclm-bold-webfont.ttf);
}
@font-face {
  font-family: Aleph;
  src: url(http://res.cloudinary.com/dzbelv6cv/raw/upload/v1496834846/assets/Alef-regular.ttf);
}

.frequent-link {
  color: #0C120C;
  font-family: Aleph;
  font-size: x-large;
  display:block;
  width:100%;
}
.frequent-link:hover {
  color: #C20114;
  text-decoration: none;
}

.call-us {
  font-size: large;
  color: #6D7275;
  float: left;
}

h1 {
  font-size: 60px;

  color: #C20114;
  /*background-color: #ECEBF3;*/
  /*padding: 10px;*/
  /*border-radius: 15px;*/
  /*width: 50%;*/
  /*margin: 25px;*/
  /*border: 2px solid black;*/
}

.frequents-container {
  margin: 10px 55px 55px 55px;
}

.frequents-list-container{
  border: solid 4px lightgray;
  border-radius: 16px;
  overflow: hidden;
}

img.App-logo {
  height: 275px;

}

.table {
  margin-bottom: 0px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
}

