.App {
  text-align: center;
}

.align-right {
  text-align: right;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  float: right;
  height: 100%;
  margin-right: 25px;
}

img.App-logo {
  max-width: 90%;
  height: auto;
}

.App-header {
  background-color: #ECEBF3;
  /*height: 150px;*/
  width:100%;
  padding: 20px;
  color: white;
  display: inline-block;
  /*background: url(bg_apple_little.gif) no - repeat center center;*/

  border-bottom: 4px #0C120C solid;
}

#user-action-menu {
  background: none;
  border: none;
  box-shadow: none;
}

pallete {
  background-color: #0C120C;
  background-color: #C20114;
  background-color: #6D7275;
  background-color: #C7D6D5;
  background-color: #ECEBF3;
}

@font-face {
  font-family: Aleph;
  src: url(/Alef-regular.ttf);
}

.call-us {
  font-size: large;
  color: #6D7275;
  float: left;
  margin: 16px 16px 0 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
}


.ltr {
  direction: ltr;
}

.logged-in-header {
  font-size: large;
}

.logout-header {
  color: #6D7275;
}

.login-container {
  text-align: right;
  margin: 5px 25px 0 0;
}

.carmonication-footer{
  margin: 25px;
}

.ticket-status-closed {
  color: green;
}

.ticket-status-assigned {
  color: purple !important;
}

.ticket-status-open {
  color: red;
}
