body {
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: Aleph;
}

h1 {
  font-size: 60px;
  padding: 0 25px;
  color: #C20114;
}

a {
  display: block;
  width: 100%;
  color: #0C120C;

}

a:hover {
  text-decoration: none;
  color: #C20114;
}

.sub-container{
  border: solid 4px lightgray;
  border-radius: 16px;
  overflow: hidden;
}

.table {
  margin-bottom: 0px;
}

.inline {
  display: inline;
}

.all-over {
  width: 100%;
  height: 100%;
  margin: 0em;
  left: 0em;
  top: 0em;
  background: white;
  position: fixed;
  overflow-y: scroll;
}

.relative {
  position: relative;
}

.mini-container{
  margin: 15px;
}

@media screen
and (min-device-width: 500px) {
  .container {
    margin: 10px 55px 55px 55px;
  }

  .mini-container{
    margin: 45px;
    margin-bottom: 15px;
  }
}
