.open-ticket {
    float: right !important;
    margin: 10px;
    padding: 10px 45px;
    font-size: large;
}

.open-ticket > a{
    color: white;
    font-weight: bold;
}

.open-ticket > a:hover{
    color: white;
}

.open-chat {
    float: left !important;
    margin: 10px;
    padding: 10px 45px;
    font-size: large;
}

    .back-btn {
        float: none !important;
        /*padding: 10px 100px;*/
        /*margin: 25px 0;*/
        text-align: center;
        font-size: large;
        color: #6D7275;
    }

@media screen
and (max-device-width: 500px) {
    .open-ticket {
        width: 90%;
        float: none !important;
    }

    .open-chat {
        margin: 10px;
        padding: 10px 45px;
        font-size: large;
        width: 90%;
        float: none !important;

    }

    .back-btn {
        float: none !important;
        text-align: center;
        width: 90%;
        font-size: large;
        color: #6D7275;

    }

}


