
.create-update-form-submit-button {
  position: relative;
  left: 0px;
}
#update-ticket-form-tabs  {

}
#update-ticket-form-tabs ul {
  padding: 0px;
  margin: 0px;
  padding-right: 10px;
}

#update-ticket-form-tabs a {
  white-space: nowrap;
  margin-top: 8px;
  /* padding: 10px; */
}
.create-ticket-update-form {
  border: none;
  padding: 5px 0px 10px 0px;
  margin: auto;
}


.create-ticket-update-form .tab-content {
  padding: 10px;
  border-style: solid;
  margin-bottom: 10px;
  border-color: silver;
  border-width: 0px 1px 1px 1px;
}
