.ticket-update-date {
  font-weight: bolder;
}
.ticket-update-text-row {
  border: 1px solid black;
}
.ticket-update-status {
  display: block;
  font-style: italic;
}
.ticket-update-text {
  display: block;
  white-space: pre-wrap;
}

.ticket-view-table {
  margin: auto;
  text-align: right;
  border: 1px solid black;
  padding: 1px;
}

 .ticket-view-table>tbody>tr>td {
  border-top: 1px solid black;
}

.ticket-view-table td {
  border: 1px solid black;
  padding: 4px 7px;
}

.main-column {
  background: whitesmoke;
  font-size: italic;
}
.value-column {
  font-weight: bolder;
}

.updates {
  margin: auto;
  width: 80%;
}
.ticket-update-table {
  width: 100%;
  margin: auto;
  margin-top: 20px;
}

.ticket-update-table tr {
  border: none;
}

.ticket-update-table > tbody > tr {
  border-bottom: 1px solid silver;
}

.ticket-update-date {
  text-align: left;
}

.ticket-update-user{
  color: blue;
  text-align: right;
}
